name = "{{NAME}}"
description = "{{DESCRIPTION}}"
model = "{{CODEX_MODEL}}"
model_reasoning_effort = "{{CODEX_EFFORT}}"
sandbox_mode = "{{SANDBOX_MODE}}"
service_tier = "fast"
developer_instructions = """
{{DEVELOPER_INSTRUCTIONS}}
"""

[features]
fast_mode = true
